* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: system-ui, sans-serif;
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
  }
}

#app {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

canvas {
  display: block;
  flex: 1;
}
